* {
    margin:0;
    padding:0;
    box-sizing: border-box;

}
.img-poke {
    width: 80px;
}
img {
    width: 30%;
}
.card-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:50px;
    padding-top: 50px;
}
.pokemon-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:50px;
    padding-top: 50px;
    
}
.pokemon-list-control{
  display: flex;
  align-items: center; 
}
select {
    margin-right: 10px; 
    padding: 5px;
   
}
.pokemon-list-control button { 
    margin-left: 10px; 
}
.active {
    color: red;
    text-decoration: none;
}
.no-active {
    color: yellow;
    text-decoration: none;
}
